.jobsList {
    overflow: hidden;
    background-color: #dedede;
    margin: 20px;
    padding: 15px 20px;
}

.gotoProfileButton {
    margin: 20px;
    padding: 15px 20px;
    background-color: #afafaf;
    color: #ffffff;
    float: right;
}

.jobTitle {
    margin: 20px;
    padding: 5px 20px;
    background-color: #dedede;
}