<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/Style.css">
    <link rel="stylesheet" href="/static/SideMenu.css">
    <link rel="stylesheet" href="/static/Profiles/Profile.css">
    <title>Registration</title>
</head>
<body>

<div class="sidenav">
    <a href="/setup_profile">General</a>
    <a href="/setup_password">Privacy</a>
    <a class="back" href="/profile">Back</a>
</div>

<div id="main" align="left">
    <form action="/confirm_change_password">
        <h1>Change password</h1>

        <label for="oldPassword"><b>Old password</b></label>
        <input type="password" id="oldPassword" name="oldPassword" required><br><br>

        <label for="newPassword"><b>New password</b></label>
        <input type="password" id="newPassword" name="newPassword" required><br><br>

        <label for="retypedNewPassword"><b>Retype new password</b></label>
        <input type="password" id="retypedNewPassword" name="retypedNewPassword" required><br><br>

        <button type="submit" class="submit_button" value="Setup" formaction="/confirm_change_password">Setup</button>
    </form>
</div>

</body>
</html>