<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/Style.css">
    <link rel="stylesheet" href="/static/SideMenu.css">
    <link rel="stylesheet" href="/static/Profiles/Profile.css">
    <link rel="stylesheet" href="/static/Jobs/Job.css">
    <title>Welcome</title>
    <br>
</head>
<body>

<div class="sidenav">
    <a href="/welcome">Login</a>
    <a class="back" href="/profile">Back</a>
</div>

<div class="container">
    <div class="main">

        <div class="jobTitle">
            <h1><b>Explore new jobs</b></h1>
        </div>

        <div class="row" id="real-estates-detail">
            <div class="panel">
                <#list jobs?reverse as job>
                    <div class="job_panel">
                        <div class="panel-body">
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in" id="detail">
                                    <div class="col-lg-1 col-md-8">
                                        <div class="text-center" id="author">
                                            <img src="${job.avatarPath}" alt="Avatar" width="64" height="64">
                                        </div>
                                    </div>

                                    <div style="font-size: 25px; font-weight: bold;">${job.roleName} </div>
                                    <span style="font-size: 20px; font-weight: bold;">${job.companyName}, </span>
                                    <span style="font-size: 20px;">${job.country}</span>

                                    <form action="/job/id${job.id}">
                                        <button type="submit" class="submit_button">Open</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </#list>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>