<!--
    Mappings:
        messages  - text
                  - from
                  - to
                  - timestamp

        companion - text
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/Style.css">
    <link rel="stylesheet" href="/static/SideMenu.css">
    <link rel="stylesheet" href="/static/Profiles/Profile.css">
    <link rel="stylesheet" href="/static/Messages/Dialog.css">
    <title>Dialog</title>
    <br>
</head>
<body>

<div class="sidenav">
    <a class="back" href="/profile">Back</a>
</div>

<div class="container">
    <div class="main">
        <div>
            <div class="panel">
                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <h1><b>Dialog with ${companion}</b></h1>
                        <br>
                        <br>
                        <#list messageViews?reverse as messageView>
                        <div class="message">
                            <form action="/dialog/id${messageView.to}">
                                <div class="col-lg-1 col-md-8">
                                    <div class="row" id="real-estates-detail">
                                        <div class="text-center" id="author">
                                            <img src=${messageView.avatarPath} alt="Avatar" width="64" height="64">
                                        </div>
                                    </div>
                                </div>
                                <p>${messageView.timestamp}</p>
                                <h2>${messageView.text}</h2>
                            </form>
                        </div>
                        </#list>

                    <br>
                    <div class="row">
                        <form action="/sendMessage/to${companionId}">
                            <div class="input-block">
                                <input type="text" class="message-send-field" id="messageText" name="messageText" required>
                            </div>
                            <div class="button-block">
                                <button type="submit" class="submit_button" formaction="/sendMessage/to${companionId}">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>