body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e3e3e3;
    width: 50%;
    margin: 50px auto 0;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 15px;
    /*position: fixed;*/
    background-color: white;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.submit_button {
    background-color: #afafaf;
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 18px;
}

.submit_button:hover {
    color: white;
}

a {
    color: dodgerblue;
}

/* Radio buttons */
.mdl-radio {
    display: block;
    margin: 15px auto;
}

.mdl-radio, .choose-message-caption {
    margin: 25px;
}

.radiobuttons-container {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 1;

}
label.mdl-radio {
    display:inline-block;
}