<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/Style.css">
    <link rel="stylesheet" href="/static/SideMenu.css">
    <link rel="stylesheet" href="/static/Profiles/Profile.css">
    <title>CVs</title>
    <br>
</head>
<body>


<div class="sidenav">
    <a class="back" href="/profile/id${user.id}">Back</a>
    <a href="/edit_cv/id${user.id}">Edit my CV</a>
</div>

<div class="container">
    <div class="main">

        <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="detail">
                        <h3><b>${user.firstName} ${user.lastName}</b></h3>
                        <table class="table table-th-block">
                            <tbody>
                            <tr>
                                <td class="active">Spoken languages</td>
                                <td>${cv.spokenLanguages}</td>
                            </tr>
                            <tr>
                                <td class="active">Skills</td>
                                <td>${cv.keySkills}</td>
                            </tr>
                            <tr>
                                <td class="active">Education</td>
                                <td>${cv.education}</td>
                            </tr>
                        </table>
                    </div>


                </table>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>